<div class="container mt-5">
    <div class="row">
        <h2 class="mb-4">About Us</h2>
    </div>
    <div class="row">
            <p class="lead">
                WAi Technologies is a Product Development Services company with deep expertise and extensive experience
                in
                delivering solutions built over Microsoft ASP.NET Core, using industry leading development accelerator
                frameworks – ASP.NET Zero and ABP.io.</p>

            <p class="lead"> We provide Rapid Application Development to Enterprise Tech and SaaS companies to address business
                problems,
                using optimal solutions, delivered through a choice of engagement models that include – Joint
                Application
                Development, Fully Outsourced Product Engineering and End to End User Experience Design and Frontend
                Engineering.</p>
    </div>

    <div class="row mt-5">
        <div class="offset-3 col-md-5">
            <img src="./assets/wai.png" alt="">
        </div>
    </div>
</div>