<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <p class="lead">About Us
                WAi Technologies is a Product Development Services company with deep expertise and extensive experience
                in
                delivering solutions built over Microsoft ASP.NET Core, using industry leading development accelerator
                frameworks – ASP.NET Zero and ABP.io.

                We provide Rapid Application Development to Enterprise Tech and SaaS companies to address business
                problems,
                using optimal solutions, delivered through a choice of engagement models that include – Joint
                Application
                Development, Fully Outsourced Product Engineering and End to End User Experience Design and Frontend
                Engineering.</p>
        </div>
        <div class="col-md-6">
            <img src="./assets/wai.png" alt="">
        </div>
    </div>
</div>