<h1>This is my component</h1>
<!-- <p>name of component is {{name}}</p> -->
<!-- <h2>The pin is {{address.pin}} ,the City is {{address.city}}, and the country is {{address.country}}</h2> -->

<!-- City: <input type="text" name="" id="" (change)="setCity($event)"><br>
<h1>{{addr.city}}</h1>

Pin: <input type="text" name="" id="" (change)="setPin($event)"><br>
<h1>{{addr.pin}}</h1>

country: <input type="text" name="" id="" (change)="setCountry($event)"><br>
<h1>{{addr.country}}</h1> -->

<!-- 
<ul>
    <li *ngFor="let name of names">{{name}}</li>
</ul>

<ul>
    <li *ngFor="let add of address">{{add.pin}} {{add.city}} {{add.country}}</li>
</ul> -->

City: <input type="text" name="" id=""><br>
<h1>{{addr.city}}</h1>

<button (click)="setCity(cityAdd)" type="submit">Add</button>

<!-- Pin: <input type="text" name="" id="" (change)="setPin($event)"><br>
<h1>{{addr.pin}}</h1>

country: <input type="text" name="" id="" (change)="setCountry($event)"><br>
<h1>{{addr.country}}</h1> -->