<button class="btn btn-success" (click)="toggleShow()" type="submit">{{text}}</button>

<div *ngIf="isShown" #divshow>
    <div class="container">
        <form action="">
            <div class="row">
                <div class="col-md-4 offset-4 form-group">
                    <div class="card mt-5" style="border: 1px solid rgb(92, 24, 141);">
                        <div class="card-header">
                            <h1 class="text-center text-primary">Login Form</h1>
                        </div>
                        <div class="card-body">
                            <input type="text" name="" id="" placeholder="enter user name" class="form-control">
                            <input type="password" name="" id="" placeholder="enter password" class="form-control mt-3">
                            <div>
                                <button type="submit" class="btn btn-outline-success btn-block mt-3">Login</button>
                                <button type="reset" class="btn btn-outline-danger btn-block mt-3">Cancel</button>
                                <!-- <button (click)="onClick()">click</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- <div *ngIf="buttonText"></div> -->