<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="">
                <h2 class="text-info m-4">Registration Form</h2>
                <div class="form-group">
                    <label class="ml-3" for="">Name</label>
                    <input type="text" name="" id="" class="form-control" placeholder="enter your name">



                    <label class="ml-3" for="">email</label>
                    <input type="email" name="" id="" class="form-control " placeholder="enter email">

                    <label class="ml-3" for="">company email</label>
                    <input type="email" name="" id="" class="form-control " placeholder="enter company id">

                    <label class="ml-3" for="">Address</label>
                    <input type="text" name="" id="" class="form-control " placeholder="enter address">

                    <label class="ml-3" for="">dob</label>
                    <input type="date" name="" id="" class="form-control " placeholder="enter dob">

                    <label class="ml-3" for="">doj</label>
                    <input type="date" name="" id="" class="form-control " placeholder="enter doj">
                </div>

        <div class="col-md-4">
            <label class="ml-3" for="">Contact no</label>
            <input type="text" name="" id="" class="form-control " placeholder="enter contact no">
        </div>
    </form>
    </div>
</div> -->


<div class="container">
    <form action="">
        <div class="row offset-4 mt-3 mb-2">
            <h1 class="text-primary">Registration Form</h1>
        </div>

        <div class="row">
            <div class="form-group col-md-4 offset-2">
                <label class="ml-3" for="">Name</label>
                <input type="text" name="" id="" class="form-control" placeholder="enter your name">

                <label class="ml-3 mt-2" for="">Contact no</label>
                <input type="text" name="" id="" class="form-control " placeholder="enter contact no">

                <label class="ml-3 mt-2" for="">company email</label>
                <input type="email" name="" id="" class="form-control " placeholder="enter company id">

                <label class="ml-3 mt-2" for="">pin</label>
                <input type="email" name="" id="" class="form-control " placeholder="enter company id">

            </div>

            <div class="form-group col-md-4">
                <label class="ml-3" for="">email</label>
                <input type="email" name="" id="" class="form-control " placeholder="enter email">

                <label class="ml-3 mt-2" for="">Address</label>
                <input type="text" name="" id="" class="form-control " placeholder="enter address">

                <label class="ml-3  mt-2" for="">doj</label>
                <input type="date" name="" id="" class="form-control " placeholder="enter doj">

                <label class="ml-3  mt-2" for="">dob</label>
                <input type="date" name="" id="" class="form-control " placeholder="enter dob">
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-2">
                <div>
                    <button type="submit" class="btn btn-outline-success btn-block mt-3">Login</button>
                    <button type="reset" class="btn btn-outline-danger btn-block mt-3">Cancel</button>
                </div>
            </div>
            
        </div>
    </form>
</div>